{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-8"></div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-3 category-list"></div>
	<div class="col-md-9 category-list padding-left">
		<div class="row padding-top-sml">
			<div class="col-md-6 col-md-offset-1 padding-top form-box">
				<h2> Are you sure you want to delete "{{category.name}}"? </h2>
				<div class="padding-bottom"></div>
				<form action="#" data-toggle="validator" role="form" method="post">
					<div class="form-group col-md-offset-3">
						<div class="padding-bottom"></div>
						<button type="submit" class="btn btn-default delete" id="submit">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
						<button onclick="window.location.href='{{url_for('getEditCategories')}}'" type="button" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"><a href='{{url_for('getCategories')}}'></a></span>Cancel</button>
						<div class="padding-bottom"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
