{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-8"></div>
	<div class="col-md-1"></div>
</div>
<div class="row">
	<div class="col-md-3 category-list"></div>
	<div class="col-md-9 category-list padding-left">
		<div class="row padding-top-sml">
			<div class="col-md-6 col-md-offset-1 padding-top form-box">
				<h1>Edit:</h1>
				<div class="padding-bottom"></div>
				<form action="#" data-toggle="validator" role="form" method="post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type ="text" class="form-control" maxlength="100" name="name" value="{{concept.name}}" required>
						<div class="padding-bottom"></div>
						<label for="definition">Definition:</label>
						<textarea type ="text" class="form-control" maxlength="10000" rows="5" id="definition" name="definition" required>{{concept.description}}</textarea>
						<div class="padding-bottom"></div>
						<label for="example">Example:</label>
						<textarea type ="text" class="form-control" maxlength="10000" rows="5" id="example" name="example" required>{{concept.code}}</textarea>
						<div class="padding-bottom"></div>
						<button type="submit" class="btn btn-success" id="submit">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
						<button onclick="window.location.href='{{url_for('getEditConcepts', category_id=category_id)}}'" type="button" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"><a href=""></a></span>Cancel</button>
						<div class="padding-bottom"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
