{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-8"></div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 form-box">
    <div class="padding-bottom"></div>
    <!-- Add where you want your sign-in button to render -->
    <!-- Use an image that follows the branding guidelines in a real app -->

    <div id="signinHeading" class="col-md-offset-1">
      <h1>Sign In Using:</h1>
    </div>
    <div class="padding-bottom"></div>
    <div class="col-md-offset-2 login-button">
      <a id="signinButton" class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Sign in with Google</a>
    </div>

    <script>
      $('#signinButton').click(function() {
        // signInCallback defined in step 6.
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>
    <div class="col-md-offset-1">
      <div id="result"></div>
    </div>


    <!-- Last part of BODY element in file index.html -->
    <script>
    function signInCallback(authResult) {
      if (authResult['code']) {

        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');
        $('#signinHeading').attr('style', 'display: none');
        $('#fbSignin').attr('style', 'display: none');
        // Send the code to the server
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          // Always include an `X-Requested-With` header in every AJAX request,
          // to protect against CSRF attacks.
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
              setTimeout(function() {
                window.location.href = "/categories";
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          },
          processData: false,
          data: authResult['code']
        });
      } else {
        // There was an error.
      }
    }
    </script>
    <div id="fbSignin" class="col-md-offset-2 login-button">
      <div class="padding-bottom"></div>
      <!--FACEBOOK SIGN IN -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
        FB.init({
          appId      : '159266814681059',
          cookie     : true,  // enable cookies to allow the server to access
                              // the session
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.8' // use version 2.8
        });
        };
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=159266814681059';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
          var access_token = FB.getAuthResponse()['accessToken'];
          console.log(access_token)
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
           $.ajax({
            type: 'POST',
            url: '/fbconnect?state={{STATE}}',
            processData: false,
            data: access_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#signinHeading').attr('style', 'display: none');
                $('#signinButton').attr('style', 'display: none');
                $('#fbSignin').attr('style', 'display: none');
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
               setTimeout(function() {
                window.location.href = "/categories";
               }, 4000);

            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
               }
            }

          });
          });
        }
      </script>
      <div class="fb-login-button"
           scope="public_profile,email"
           onlogin="sendTokenToServer();"
           data-max-rows="1"
           data-size="large"
           data-button-type="login_with"
           data-show-faces="false"
           data-auto-logout-link="false"
           data-use-continue-as="true">
      </div>
    </div>

    <div class="padding-bottom"></div>
    <div class="padding-bottom"></div>

</div>
<div class="col-md-4"></div>



{% endblock %}
